<a class="m-button m-button--secondary trade-sign-in-button {{ classes }}" href="{{ routes.account_login_url }}">
  <span class="m-add-to-cart--text" data-atc-text="">
    {{ 'general.trade_customer.trade_sign_in' | t }}
  </span>
</a>